<!DOCTYPE html>
<html>
  <head>
    <title>縦型駅名看板ジェネレーター</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:700&text=0123456789"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:700&text=ABDEFGHIJLMNOPQRSTUVWXYZ"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="stylesheet/stylesheet.css" />
    <link rel="stylesheet" href="stylesheet/modern-css-reset.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  </head>

  <body>
    <header class="wrapper">
      <img class="logo" src="images/logo.svg" />
      <h2>縦型駅名標ジェネレーター</h2>
    </header>

    <div id="app">
      <div class="main">
        <div class="flex">
          <canvas id="result" width="260" height="1220"
            >canvasをサポートしたブラウザが必要です。</canvas
          >

          <div class="control">
            <label for="synchronize"
              ><input
                type="checkbox"
                id="synchronize"
                v-model="doubleColor"
                @change="draw"
              />ラインカラーを二色指定</label
            ><br />
            <label for="color"
              >路線色1<input type="color" id="color" v-model="color"
            /></label>

            <label for="color2"
              >路線色2<input type="color" id="color2" v-model="color2" v-show="doubleColor"
            /></label>
            <br />

            <label for="name-ja"
              >駅名(日本語)<input type="text" id="name-ja" v-model="staNameJa"
            /></label>
            <br />
            <label for="name-en"
              >駅名(英　語)<input type="text" id="name-en" v-model="staNameEn"
            /></label>
            <br />
            <label for="name-ch"
              >駅名(中国語)<input type="text" id="name-ch" v-model="staNameCh"
            /></label>
            <br />
            <label for="name-ko"
              >駅名(韓国語)<input type="text" id="name-ko" v-model="staNameKo"
            /></label>
            <br />
            <a
              target="_blank"
              :href="'https://translate.google.com/?hl=ja#view=home&op=translate&sl=ja&tl=zh-CN&text=' + staNameJa"
              >Google翻訳を開く</a
            ><br />

            <input
              type="checkbox"
              id="staNum"
              v-model="numbering"
              @change="draw"
            />
            <label for="staNum"
              >駅ナンバリングあり(1)<input
                type="text"
                class="small"
                v-model="numPrevious1"
                v-show="numbering"
            /></label>
            <br />

            <input
              type="checkbox"
              id="staNum2"
              v-model="numbering2"
              v-show="numbering"
              @change="draw"
            />
            <label for="staNum2" v-show="numbering"
              >駅ナンバリングあり(2)<input
                type="text"
                class="small"
                v-model="numPrevious2"
                v-show="numbering2"
            /></label>
            <div v-show="numbering">
              <label v-show="numbering"
                >ナンバリング色1<input
                  type="color"
                  v-model="numColorPrevious1"
                  v-show="synchronizeNC==='自由選択'"
              /></label>
              <label
                ><select v-model="synchronizeNC" v-show="numbering">
                  <option>自由選択</option>
                  <option selected="selected">路線色1と一致</option>
                  <option>路線色2と一致</option>
                </select></label
              >
            </div>

            <div v-show="numbering">
              <label v-show="numbering2"
                >ナンバリング色2<input
                  type="color"
                  v-model="numColorPrevious2"
                  v-show="synchronizeNC2==='自由選択'"
              /></label>
              <label
                ><select v-model="synchronizeNC2" v-show="numbering2">
                  <option selected="selected">自由選択</option>
                  <option>路線色1と一致</option>
                  <option>路線色2と一致</option>
                </select></label
              >
            </div>

            <div v-show="numbering">
              <input
                type="checkbox"
                id="staThreeLetterSwitch"
                v-model="staThreeLetterSwitch"
                @change="draw"
              />
              <label for="staThreeLetterSwitch"
                >スリーレターコードあり<input
                  type="text"
                  class="small"
                  id="sta-threeLetter"
                  v-model="threeL"
                  v-show="staThreeLetterSwitch"
              /></label>
            </div>

            <input
              type="checkbox"
              id="localCharacter"
              v-model="localCharacter"
              @change="draw"
            />
            <label for="localCharacter"
              >ご当地キャラクターあり<select
                id="localCharacterSelect"
                v-model="localCharacterWho"
                v-show="localCharacter"
              >
                <option selected="selected">むすび丸</option>
                <!--<option></option>-->
              </select></label
            ><br />

            <button @click="draw(); save();">指定内容を反映</button>
            <button @click="reset();">指定内容をリセット</button>
            <button @click="download">画像として保存</button>
          </div>
        </div>
        <div class="producer">
          <span>つくった人:</span
          ><a href="https://twitter.com/soburapid217">S'R217</a>
          <p>バグの報告、追加機能の要望はこちらまで</p>
          <p>
            β版のため、バグが多い可能性があります。
          </p>
        </div>
        <div class="canvas-wrapper">
          <canvas id="base" width="260" height="1220"></canvas>
          <canvas id="staname" width="260" height="1220"></canvas>
          <canvas id="numbering" width="260" height="1220"></canvas>
          <canvas id="numbering2" width="260" height="1220"></canvas>
          <canvas id="threeLetter" width="260" height="1220"></canvas>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="script/script.js"></script>
  </body>
</html>
